<h2>Lee's Personal Pacman Repo</h2>

<h3><a href="https://gitlab.com/lfkeitel/aur_pkgs" target="_blank">Sources</a></h3>

<h3>Packages</h3>

<style>
	table {
		border-collapse: collapse;
		border: 2px solid black;
	}

	td,
	th {
		border: 2px solid black;
		padding: .5rem 1rem;
	}

</style>

<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>

	<tr>
		<td>calcurse-patched</td>
		<td>Normal calcurse but with a patch to print the time of the next appointment.</td>
	</tr>

	<tr>
		<td>coreutils-adv</td>
		<td>GNU coreutils with patched cp and mv commands to show progress with the -g flag.</td>
	</tr>

	<tr>
		<td>lfk-intel-gmmlib</td>
		<td>Latest gmmlib for intel-media-driver</td>
	</tr>

	<tr>
		<td>lfk-intel-media-driver</td>
		<td>Updated version of intel-media-driver using the latest gmmlib.</td>
	</tr>

	<tr>
		<td>nitrogen-lang-git</td>
		<td>The Nitrogen programming language.</td>
	</tr>

	<tr>
		<td>poe-git</td>
		<td>poe is a simple line-based text editor.</td>
	</tr>

	<tr>
		<td>st-patched</td>
		<td>suckless terminal with several patches.</td>
	</tr>

	<tr>
		<td>unclutter-patched</td>
		<td>unclutter utility with patches for more window selection options.</td>
	</tr>

	<tr>
		<td>yubico-fido-udev</td>
		<td>udev configurations to use YubiKeys for U2F.</td>
	</tr>
</table>

<h3>Using This Repo</h3>

<p>
	To use my personal arch repo add the following to your pacman config:

	<pre>
[personal]
Server = http://arch-repo.keitel.xyz
SigLevel = Required
</pre>
</p>

<p>
	You will need to add my key to you pacman GPG ring.<br><br>

	Fingerprint: <code>D2B6 240B 7E78 9CF8 177F  BBC6 73E8 F0B8 E638 625F</code><br><br>

	<code>pacman-key --recv-keys BBC673E8F0B8E638625F</code>
</p>
